
body{
  background-color: #4f7978;
}

.jo-div{

}

.jo-bg {


}

.jo-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.jo-center {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);


  width: 500px;
  height: 500px;
  border: 5px solid black;
}